<p id="notice"><%= notice %></p>

<p>
  <strong>流水號:</strong>
  <%= @kai2_ji7.流水號 %>
</p>

<p>
  <strong>漢羅文:</strong>
  <%= @kai2_ji7.漢羅文 %>
</p>

<p>
  <strong>全羅文:</strong>
  <%= @kai2_ji7.全羅文 %>
</p>

<p>
  <strong>無齊記號:</strong>
  <%= @kai2_ji7.無齊記號 %>
</p>

<%= link_to 'Edit', edit_kai2_ji7_path(@kai2_ji7) %> |
<%= link_to 'Back', kai2_ji7s_path %>
