<p id="notice"><%= notice %></p>

<p>
  <strong>流水號:</strong>
  <%= @kai2_tsua7.流水號 %>
</p>

<p>
  <strong>漢羅文:</strong>
  <%= @kai2_tsua7.漢羅文 %>
</p>

<p>
  <strong>全羅文:</strong>
  <%= @kai2_tsua7.全羅文 %>
</p>

<p>
  <strong>漢羅逝:</strong>
  <%= @kai2_tsua7.漢羅逝 %>
</p>

<p>
  <strong>全羅逝:</strong>
  <%= @kai2_tsua7.全羅逝 %>
</p>

<%= link_to 'Edit', edit_kai2_tsua7_path(@kai2_tsua7) %> |
<%= link_to 'Back', kai2_tsua7s_path %>
